{% extends "bootstrap/base.html" %}
{% import 'nav.htm.j2' as nav %}
{% import 'content_templates.htm.j2' as templates %}
{% import 'modals.htm.j2' as modals %}


{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='style.css')}}">
<link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed" rel="stylesheet"> 
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"/> 
{% endblock %}


{% block scripts %}

{{super()}}

    <script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous">
    </script>

    {# <script type="text/javascript">
        
        $(function() {
            $.ajax({
                url: '{{ url_for("search.autocomplete") }}'
                }).done(function (data) {
                    $('#notes').autocomplete({
                        source: data,
                        minLength: 2
                    });
                });
            });

    </script>
 #}

<script type="text/javascript">

    $(document).ready(function() {

        $('.btn[name=clear]').click(function() {

            $('form input[name=search_term]').val('')
            $('.app-search-results').empty()
            $('.app-messages').empty()

        })

    })

</script>

{% endblock %}


{% block title %}reddit_utils{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" sizes="16x16">
{% endblock %}


{% block content %}

    {{ nav.nav() }}

    <div class="container pt-5">

        <div class="row mt-5 pt-5">
            <div class="col">
                <h2 class="text-center app-off-black">List Subreddits</h2>
            </div>
        </div>

        <div class="row mt-4 mb-0">
            <div class="col col-sm-12 col-lg-8 mx-auto">

                <form method="post">

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="sort_by">Sort By</label>
                        <div class="col-sm-10">
                            <select class="custom-select my-1 mr-sm-2" id="sort_by" name="sort_by">
                                <option {% if request.form['sort_by'] == 'subscribers' %} selected {% endif %} value="subscribers">
                                    Number of subscribers
                                </option>
                                <option {% if request.form['sort_by'] == 'creation_time' %} selected {% endif %} value="creation_time">
                                    Subreddit creation time
                                </option>
                                <option {% if request.form['sort_by'] == 'last_post' %} selected {% endif %} value="last_post">
                                    Date of last post in subreddit
                                </option>
                            </select>   
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="sort_order">Sort Order</label>
                        <div class="col-sm-10">
                            <select class="custom-select my-1 mr-sm-2" id="sort_order" name="sort_order">
                                <option {% if request.form['sort_order'] ==  'desc' %} selected {% endif %} value="desc">
                                    Descending
                                </option>
                                <option {% if request.form['sort_order'] ==  'asc' %} selected {% endif %} value="asc">
                                    Ascending
                                </option>
                            </select>   
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="get_latest_post" name="get_latest_post" value="True" {% if 'get_latest_post' in request.form %}
                                    checked
                                {% endif %}>
                                <label class="form-check-label" for="get_latest_post">
                                    Get latest post for each subreddit (takes much longer)
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <button type="submit" class="float-right btn btn-light">Get Subreddits</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>

        <div class="row app-search-results">

            <div class="col col-sm-12 col-lg-8 mb-4 pb-4 mx-auto">
                
                {% if subs %}

                    <p class="mt-4 mb-2 app-off-black text-right">{{ subs|count }} result{% if subs|count > 1 %}s{% endif %}</p>

                     {# solaceinsleep currently has 137 subreddits  #}

                    {% for item in subs %}

                    {{ templates.subreddit_card(item) }}

{#                     <div class="app-result-card p-2 mb-2 rounded">

                        {% if item['type'] == 'submission' %}
                        {{ templates.submission_card(item) }}
                        {% elif item['type'] == 'comment' %}
                        {{ templates.comment_card(item) }}
                        {% endif %}

                    </div> #}

                    {% endfor %}

                {% elif not subs and request.form['search_term'] %}
                
                    <h3 class="mt-4 pt-4 text-center app-off-black">No search results found</h3>

                {% endif %}
            
            </div>

        </div>

        <div class="row mt-2 app-messages">

            <div class="col col-sm-12 col-lg-8 mx-auto">
                {% for message in get_flashed_messages() %}
                    <div class="alert {% if not 'Error' in message %}alert-success{% else %}alert-danger{% endif %}" role="alert">
                      {{ message }}
                    </div>
                {% endfor %}            
            </div>
        
        </div>

    </div>

    <!-- Modals -->
    {{ modals.about() }}
    {{ modals.list_subreddits() }}

{% endblock %}
