{% extends "features/search_common.htm.j2" %}

{% block feature_title %}
User Posts
{% endblock %}

{% block our_modal %}
{{ modals.user_search() }}
{% endblock %}

{% block search_type %}user_posts{% endblock %}
